<!DOCTYPE html>
<html>
	<head>
		<script>
			//$.post('getcont.php', { url: url }, function(data) {
				//  document.getElementById('somediv').innerHTML = data;        
			//});
		</script>
		<script type="text/javascript" >
		
		</script>
		<script type="text/javascript">
            var urllist = {{ urllist | tojson }}
        </script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="static/starter.js"></script>

		<link rel="stylesheet" href="static/main.css">
	</head>
	<body>
		
		
	</body>