<!DOCTYPE html>
<html>
	<head>
		<script>
			//$.post('getcont.php', { url: url }, function(data) {
				//  document.getElementById('somediv').innerHTML = data;        
			//});
		</script>
		<title> Dashboard </title>
		<link rel="icon" href="../favicon.png">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript">
            var urllist = {{ urllist | tojson }}
        </script>
		<script src="../static/main.js"></script>
		<link rel="stylesheet" href="../static/main.css">
	</head>
	<body>
		<!-- Must wrap entire body so everything in page transitions -->
		<main data-router-wrapper>
			<section data-router-view="default" data-transition="default" >
				<div id="somediv" style="display: none"> 
					    <table class="container" >
						<tr>
			<td><iframe class="test" frameborder="0" style="border:0" scrolling="no"></iframe></td>
            <td><iframe class="test" frameborder="0" style="border:0" scrolling="no"></iframe> </td>
						</tr>
			<tr>
            <td><iframe class="test" frameborder="0" style="border:0" scrolling="no"></iframe> </td>      
            <td><iframe id = "last" class="test" frameborder="0" style="border:0" scrolling="no"></iframe> </td>
			</tr>
						</table>
					<a href="templatetwo.html" id="nextslide">Next</a>
					<!--Can take of the slides as one linked list, javascript clicks on link with id "nextslide"-->
				</div>				<!-- [...] -->
			</section>
		</main>
		
	</body>
</html>
